frontend http_front
	bind *:80
	stats uri /haproxy?stats
	acl url_users path_beg /users
	use_backend users_back if url_users
	
	acl url_registry path_beg /registry
	use_backend registry_back if url_registry

	acl url_likes path_beg /likes
	use_backend likes_back if url_likes

	acl url_polls path_beg /polls
	use_backend polls_back if url_polls
	
	default_backend timeline_back

backend timeline_back
	balance roundrobin
	server posts1 localhost:5200 check
	server posts2 localhost:5201 check
	server posts3 localhost:5202 check

backend users_back
	server users localhost:5100 check

backend likes_back
	server likes localhost:5300 check

backend polls_back
	server polls localhost:5400 check

backend registry_back
	server registry localhost:5000 check
